# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Armere.iml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\Unity Projects\2020\Armere\.idea\.idea.Armere\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
